<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Favourite quotes</title>-->
<!--</head>-->
<!--<body>-->

<!--<h1> hello world</h1>-->
<!--<h2> this is the example that render the template from the .py file</h2>-->
<!--<h3>the template is index.html</h3>-->
<!--{% if quote %}-->
<!--<h1> {{ quote }} </h1>-->
<!--{% else %}-->
<!--<h1> no variable quote here....</h1>-->
<!--{% endif %}-->
<!--<ul>-->
<!--    <h1>My favourite fruits are:</h1>-->
<!--    {% for fruit in fruitt%}-->
<!--    <li>{{ fruit }}</li>-->
<!--    {% endfor %}-->

<!--</ul>-->


<!--</body>-->
<!--</html>-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add your quotes here</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{{ url_for( 'static', filename='bootstrap.main.css') }} integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"">


</head>
<body>
<br>
<br>

<div class="container">
    <form action="/process" method="post">
        <div class="form-group">
            <label for="author">Quote Author</label>
            <input type="text" id="inputName" name="author" class="form-control" placeholder="add author quote here..">

        </div>
        <div class="form-group">
            <label for="quote">Quote</label>
            <textarea class="form-control" rows="5" id="quote" name="quote" placeholder="Add your quote here"></textarea>

        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>


    </form>

</div>

</body>
</html>